.cta {
  background-color: $ctaBackgroundColor;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@include breakpoint("phone") {
  .cta {
    p {
      font-size: 1.2rem;
      margin: 5vh 0;
    }
  }
}
