.product-benefits {
  min-height: 100vh;
  background-color: #edece8;
  .product-benefits-content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5%;
    h1 {
      color: #333333;
    }
    img {
      margin: 0;
      padding: 0;
    }
    .crystal-image-left {
      display: flex;
      gap: 35px;
      align-items: center;
      justify-content: space-around;
    }
    .crystal-image-right {
      display: flex;
      flex-direction: row-reverse;
      gap: 35px;
      align-items: center;
      justify-content: space-around;
    }
    .crystal-image-left,
    .crystal-image-right {
      margin: 4vh 0;
      img {
        width: 350px;
        height: 350px;
        object-fit: contain;
        object-position: center;
        margin-bottom: 3vh;
      }
      .product-info-text {
        display: flex;
        flex-direction: column;
        float: left;
        width: 50%;
        h2 {
          font-size: 2.2rem;
        }
        p,
        ol {
          li {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@include breakpoint("phone") {
  .product-benefits {
    width: 100%;
    .product-benefits-content {
      height: 100%;
      .crystal-image-left,
      .crystal-image-right {
        flex-direction: column;
        a {
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .product-info-text {
          width: 90%;
          p,
          ol {
            li {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@include breakpoint("phone-small") {
  .product-benefits-content {
    .crystal-image-left,
    .crystal-image-right {
      img {
        max-width: 100%;
      }
    }
  }
}

@include breakpoint("tablet-p") {
  .product-benefits {
    .product-benefits-content {
      .crystal-image-right,
      .crystal-image-left {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}
