.product-features {
  background-color: $productFeatureColor;
  text-align: start;
  min-height: 140vh;
  width: 100%;
  padding: 5%;
  h1,
  p {
    color: #333333;
  }
  .core-features {
    height: 140vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
