.product-features {
  background-color: $productFeatureColor;
  text-align: start;
  min-height: 90vh;
  width: 100%;
  padding: 5%;
  h1,
  p {
    color: #333333;
  }
  p {
    font-size: 1.3rem;
  }
  .core-features {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .card {
      img {
        object-fit: contain;
      }
    }
  }
}

@include breakpoint("phone") {
  .product-features {
    height: 150vh;
    .core-features {
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      .card {
        height: 20vh;
        width: 165px;
        img {
          width: 165px;
        }
      }
    }
  }
}

@include breakpoint("phone-md") {
  .product-features {
    height: 140vh;
    .core-features {
      height: 87%;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 15px;

      .card {
        height: 20vh;
        img {
          width: 165px;
        }
      }
    }
  }
}
@include breakpoint("phone-small") {
  .product-features {
    height: 160vh;
    .core-features {
      height: 85%;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 15px;
      .card {
        height: 20vh;
        width: 130px;
        img {
          width: 130px;
        }
        .card-text {
          h4 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
@include breakpoint("tablet-p") {
  .product-features {
    height: 80vh;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.4rem;
    }
    .core-features {
      margin-top: 5vh;
      height: 75%;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 25px;
      .card {
        height: 23vh;

        img {
          width: 215px;
        }
        .card-text {
          h4 {
            font-size: 1.45rem;
          }
        }
      }
    }
  }
}
@include breakpoint("tablet-l") {
  .product-features {
    height: 100vh;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.6rem;
    }
    height: 70vh;
    .core-features {
      margin-top: 5vh;
      height: 75%;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      .card {
        height: 10vh;
        img {
          width: 280px;
        }
        .card-text {
          h4 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
