.testimonials {
  background-color: $testimonialsBackgroundColor;
  margin: 10vh auto;
  height: 100vh;
  h1 {
    padding: 5%;
  }
  p {
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
  }
  .testimonial-group {
    padding: 5%;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: space-around;
  }
}

@include breakpoint("phone-small") {
  .testimonials {
    h1 {
      font-size: 1.5rem;
    }

    .testimonial-group {
      flex-direction: column;
      align-items: center;
      gap: 1vh;

      .testimonial-cards {
        margin: 15px 0;
        width: 250px;
        min-height: 25vh;
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
}
@include breakpoint("phone-md") {
  .testimonials {
    h1 {
      font-size: 1.5rem;
    }
    height: 130vh;
    .testimonial-group {
      flex-direction: column;
      align-items: center;

      .testimonial-cards {
        margin: 15px 0;
        width: 300px;
        min-height: 20vh;
      }
    }
  }
}

@include breakpoint("phone") {
  .testimonials {
    padding: 5% 0 0;
    height: 150vh;
    .testimonial-group {
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      .testimonial-cards {
        margin: 15px 0;
        width: 300px;
        min-height: 25vh;
      }
    }
  }
}

@include breakpoint("tablet") {
  .testimonials {
    padding: 5% 0 0;
    height: 65vh;
    .testimonial-group {
      .testimonial-cards {
        padding: 1%;
        width: 450px;
        min-height: 20vh;
      }
    }
  }
}
