.testimonials {
  background-color: $testimonialsBackgroundColor;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;

  h1 {
    padding: 1em;
  }
  p {
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
  }
  .testimonial-group {
    padding: 5%;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: space-around;
  }
}

@include breakpoint("from-tablet-p") {
  .testimonial-group {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
  }
  .testimonial-card-1,
  .testimonial-card-2,
  .testimonial-card-3 {
    max-width: 14rem;
    height: 40rem;
  }
}

@include breakpoint("from-tablet-l") {
  .testimonial-card-1,
  .testimonial-card-2,
  .testimonial-card-3 {
    max-width: 16rem;
    height: 35rem;
  }
}
