.testimonials {
  background-color: $testimonialsBackgroundColor;
  margin: 10vh auto;
  padding: 1em 0;
  height: 100vh;
  h1 {
    padding: 1em;
  }
  p {
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
  }
  .testimonial-group {
    padding: 5%;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: space-around;
  }
}

@include breakpoint("from-tablet-p") {
  .testimonial-group {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
  }
  .testimonial-card-1,
  .testimonial-card-2,
  .testimonial-card-3 {
    max-width: 14rem;
    height: 40rem;
  }
}

@include breakpoint("from-tablet-l") {
  .testimonial-card-1,
  .testimonial-card-2,
  .testimonial-card-3 {
    max-width: 16rem;
    height: 35rem;
  }
}

@include breakpoint("phone") {
  .testimonials {
    min-height: 140vh;
    .testimonial-group {
      flex-direction: column;
      align-items: center;
      gap: 5vh;
      .testimonial-cards {
        margin: 15px 0;
        width: 300px;
        min-height: 20vh;
      }
    }
  }
}
@include breakpoint("phone-small") {
  .testimonials {
    h1 {
      font-size: 1.5rem;
    }
    height: 200vh;
    .testimonial-group {
      flex-direction: column;
      align-items: center;
      gap: 5vh;
      .testimonial-cards {
        margin: 15px 0;
        width: 250px;
        min-height: 17vh;
      }
    }
  }
}
@include breakpoint("phone-md") {
  .testimonials {
    h1 {
      font-size: 1.5rem;
    }
    height: 130vh;
    .testimonial-group {
      flex-direction: column;
      align-items: center;
      gap: 5vh;
      .testimonial-cards {
        margin: 15px 0;
        width: 300px;
        min-height: 20vh;
      }
    }
  }
}
