// layouts
$maxContainerWidth: 75rem;

// colors
$mainColor: #b76e79;
$secondaryColor: rgba(242, 242, 242, 0.4);
$backgroundColor: #ffffff;
$textColor: #333333;

// can get more granular
$containerBackgroundColor: $backgroundColor;
$navColor: $textColor;
$navLabelsColor: $textColor;
$socialProofBackgroundColor: #f4eeff;
$productBenefitsColor: $secondaryColor;
$productFeatureColor: $backgroundColor;
$testimonialsBackgroundColor: #edece8;
$ctaBackgroundColor: $backgroundColor;
$buttonColor: $mainColor;
